@charset "UTF-8";

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f1f1ff;
}

h1 {
    text-align: center;
    color: #707070ff;
    font-size: 1.2em;
}

.error-text {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-size: 1rem;
    color: #000000ff;
    background-color: #ffa7a7ff;
    border-radius: 2px;
    padding: 5px;
    box-shadow: 1px 1px 5px #707070ff;
}